*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #CDE8E5;
}

#heading{
    margin: 2rem;
    color: #7AB2B2;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #4D869C;
    color: #EEF7FF;
    font-size: 5rem;
}

.reset-btn{
    height: 8vmin;
    width: 18vmin;
    border-radius:1rem;
    background-color: #2a4444;
    border: none;
    font-size: 2rem;
    color:#CDE8E5;

}



.msg-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 5rem;
    color: #3b99ba;
    gap: 2rem;
}


.new-btn{
    height: 8vmin;
    width: 20vmin;
    border-radius:1rem;
    background-color: #2a4444;
    border: none;
    font-size: 1.5rem;
    color:#CDE8E5;
}

  

@media only screen and (max-width: 700px) {
    .box{
     font-size: 8vmin;
    }
    .container{
        height: 60vh;
    }
    .reset-btn{
        height: 12vmin;
        width: 22vmin;
        font-size: 5vmin;
    }
    #heading{
        color: black;
    }
    .msg-container{
        font-size: 7vmin;
    }
    .new-btn{
        height: 15vmin;
        width: 25vmin;
        font-size: 5vmin;
    }
   }

   .hide{
    display: none;
} 